<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>No encontrado</title>
    <link rel="stylesheet" href="/css/ayuda.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <nav>
        <span class="logo"><a href="/"><img src="/img/logo" alt="Logo" height="30"></a></span>
        <span class="help"><a href="/ayuda">Ayuda</a></span>
    </nav>
    <div class="content">
        <div class="view" style="text-align:center">
            <div class="cuatrocientoscuatro">
                404
            </div>
            <p>Aquí no está lo que buscabas.</p>
            <p><a href="/ayuda"><button class="primary">Volver al Inicio</button></a></p>
        </div>
    </div>
    <footer>
        <div class="view row">
            <div class="column2">
                <h3>Enlaces</h3>
                <div><a href="/">Página principal</a></div>
                <div><a href="/">Privacidad y condiciones</a></div>
                <div><a href="/">Enviar comentarios ó informar un problema</a></div>
            </div>
            <div class="column2" style="font-size:12px">
                <a href="/"><img src="/img/logo.png" alt="Logo" height="30"></a></span>
                <div>© {{_copyYearyear}} BizName</div>
                <div>
                    Documentación creada en base al proyecto de código abierto <a href="https://github.com/marianopaulin02/FireDocs/" target="_blank">FireDocs</a>.
                </div>
                <div>
                    Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>.
                </div>
            </div>
        </div>
        <div class="subfoo"></div>
    </footer>
    <script type="text/javascript">
        document.querySelector('.content').style.minHeight = window.innerHeight - document.querySelector('nav').clientHeight + 'px'
    </script>
</body>
</html>
