<div class="content contentMain">
    <div class="view">
<aside class="sidenav">
    {{_sidebarContent}}
</aside>
<article class="mainarticle">
    <a name="top"></a>
    <h1>{{_articleTitle}}</h1>
    {{_articleBody}}
    <div class="navcontentcnt">
        <div class="navcontent prev">
            <div class="navtitle">Anterior</div>
            <a></a>
        </div>
        <div class="navcontent next">
            <div class="navtitle">Siguiente</div>
            <a></a>
        </div>
    </div>
</article>
<aside class="articleContentTop">
    <div class="head">
        <b>Contenido</b>
    </div>
    <div class="articleContent"></div>
</aside>
</div>
</div>
