<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{_articleTitle}} - FireDocs</title>
<meta name="description" content="{{_articleDescription}}">
    <meta property="fb:app_id"        content=""/>
	<meta property="og:url"           content="{{_articleURL}}"/>
    <meta property="og:type"          content="website"/>
    <meta property="og:title"         content="{{_articleTitle}}"/>
    <meta property="og:description"   content="{{_articleDescription}}"/>
    <meta property="og:image"         content="{{_articleImage}}"/>
    <link rel="stylesheet" href="/css/ayuda.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="/js/ayuda.js" charset="utf-8"></script>
</head>
<body>
<nav class="content">
    <div class="view">
        <button class="close"><svg fill="#FFF"height="24"viewBox="0 0 24 24"width="24"xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z"fill="none"/></svg></button>
        <button class="menu"> <svg fill="#FFF"height="24"viewBox="0 0 24 24"width="24"xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></button>
        <span class="logo"><a href="/"><img src="/img/logo.png'" alt="Logo" height="30"></a></span>
        <span class="help"><a href="/ayuda">Ayuda</a></span>
    </div>
</nav>
<noscript>
    Por favor habilite JavaScript en su navegador y recargue la página.
</noscript>
